body {
  margin: 10px;
  text-aling: center;
  font-family: "Arial";
  background: #ffaaaa;
  color: white;
}

#container {
  background: #d46a6a;
}
#cabecera {
    font-size:30px;
    text:center;
    display:flex;
    justify-content:center;
}
